body{
    position: relative;
    background-color: darkslategrey;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0);
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 2px solid rgba(3, 3, 3, 0.674);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.306);
}

.btns{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
    justify-items: center;
    align-items: center;
}

.btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.306);
}

.btn-active{
    transform: scale(1.05);
    background-color: green;
}


.input{
    width: 200px;
    height: 40px;
    text-align: right;
}

.sub-input{
    background-color: bisque;
    height: 20px;
    width: 200px;    
}

.equal{
    border-radius: 20px;
    width: 90px;
    grid-column: 3 / 5;
}