@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Lato:ital,wght@0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 58px;
    background: var(--main-bg-color);
    font-family: 'Cormorant SC', serif;
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
.search{
    display: flex;
    align-items: center;
    
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Cormorant SC', serif;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.slider{
    margin:12px auto;
    width: 60vw;
    overflow: hidden;
}
 .card .card-items img{
    height: 166px;
    /* width: 166px; */
}
.card{
    max-width: 91vw;
     margin: 37px auto; 
}

.my-2{
    margin: 26px 0;
}
 /* .card .card-items{
    display: flex;
    padding: 0 16px;
}  */
.card h2{
    font-family: 'Roboto', sans-serif;
    margin: 26px 0;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.card-items{
    display: inline-flex;
    justify-content:center;
    flex-direction: column;
    margin: 0 15px;
}
.card .lines p{
    padding: 2px 40px;
}
    
.container{
    min-height: calc(100vh - 58px - 12vh);
}
nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    padding: 0 23px;
    list-style: none;

}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    font-weight: bolder;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Cormorant SC', serif;
    font-family: 'Lato', sans-serif;
}
